@{
    ViewBag.Title = "Admin";
    Layout = null;
}

<p>
    <a href="" data-ng-click="ctrl.currentCard = { id: -1, spanish: undefined, english: undefined, partOfSpeech: undefined }" ui-sref="create"
       data-ng-disabled="ctrl.getCurrentUser() === undefined">Create</a>
</p>

<ul uib-pagination total-items="ctrl.totalItems" data-ng-model="ctrl.currentPage" data-ng-change="ctrl.pageChanged()" class="pagination-sm" boundary-links="true"
            num-pages = "ctrl.numPages" rotate="false" items-per-page="ctrl.itemsPerPage"></ul>

<div class="row">
    <div class="admin-card-container col-xs-4 col-sm-3 col-lg-2" data-ng-repeat="card in ctrl.cards | pageFilter: ctrl.currentPage:ctrl.itemsPerPage">
        <div class="admin-card">
            <div class="admin-card-spanish">
                <span class="admin-card-spanish-label">Spanish:</span>
                <span class="admin-card-spanish-value">{{ card.spanish }}</span>
            </div>
            <div class="admin-card-english">
                <span class="admin-card-english-label">English:</span>
                <span class="admin-card-english-value">{{ card.english }}</span>
            </div>
            <div class="admin-card-pos">
                <span class="admin-card-pos-label">Part of Speech:</span>
                <span class="admin-card-pos-value">{{ card.partOfSpeech }}</span>
            </div>
            <div class="card-actions">
                <div class="record-action-buttons">
                    <a title="Edit" class="btn btn-xs btn-success" data-ng-click="ctrl.currentCard = card" ui-sref="edit({ id: card.id })"
                            data-ng-disabled="ctrl.getCurrentUser() === undefined">
                        <i class="glyphicon glyphicon-pencil"></i>
                        <span class="sr-only">Edit</span>
                    </a>
                    <a title="Delete" class="btn btn-xs btn-danger" ui-sref="delete({ id: card.id })" data-ng-disabled="ctrl.getCurrentUser() === undefined">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span class="sr-only">Delete</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

