
@{
    ViewBag.Title = "Single";
    Layout = null;
}

@*@Html.AntiForgeryToken()*@

<div class="row">
    <div class="col-sm-3">
        <fieldset>
            <legend>Direction</legend>
            <div>
                <input type="radio" name="direction" data-ng-value="true" data-ng-model="ctrl.spanishToEnglish" /> Spanish to English
            </div>
            <div>
                <input type="radio" name="direction" data-ng-value="false" data-ng-model="ctrl.spanishToEnglish" /> English to Spanish
            </div>
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            @*<div>
                    <input type="checkbox" id="requireSpecialCharactersCheckbox" /> Require Special Characters
                </div>*@
            <div>
                <input type="checkbox" id="showStatisticsCheckbox" data-ng-model="ctrl.showStatistics" /> Show Statistics (and Answers)
            </div>
            <div>
                <input type="checkbox" id="allowHintsCheckbox" data-ng-model="ctrl.allowHints" /> Allow Hints
            </div>
        </fieldset>
        <fieldset>
            <legend>Parts of Speech</legend>
            <div>
                <input type="checkbox" id="includeNounsCheckbox" data-ng-model="ctrl.includeNouns" data-ng-change="ctrl.filterChange()" /> Include Nouns
            </div>
            <div>
                <input type="checkbox" id="includeVerbsCheckbox" data-ng-model="ctrl.includeVerbs" data-ng-change="ctrl.filterChange()" /> Include Verbs
            </div>
            <div>
                <input type="checkbox" id="includeAdjectivesCheckbox" data-ng-model="ctrl.includeAdjectives" data-ng-change="ctrl.filterChange()" /> Include Adjectives
            </div>
            <div>
                <input type="checkbox" id="includeAdverbsCheckbox" data-ng-model="ctrl.includeAdverbs" data-ng-change="ctrl.filterChange()" /> Include Adverbs
            </div>
            <div>
                <input type="checkbox" id="includePronounsCheckbox" data-ng-model="ctrl.includePronouns" data-ng-change="ctrl.filterChange()" /> Include Pronouns
            </div>
            <div>
                <input type="checkbox" id="includePrepositionsCheckbox" data-ng-model="ctrl.includePrepositions" data-ng-change="ctrl.filterChange()" /> Include Prepositions
            </div>
            <div>
                <input type="checkbox" id="includeConjunctionsCheckbox" data-ng-model="ctrl.includeConjunctions" data-ng-change="ctrl.filterChange()" /> Include Conjunctions
            </div>
        </fieldset>
    </div>

    <div class="col-sm-5">
        <div class="row">
            <div id="card">
                <div id="questionLabel" data-ng-show="ctrl.showingQuestion" data-ng-cloak="">Question:</div>
                <div id="answerLabel" data-ng-show="!ctrl.showingQuestion" data-ng-cloak="">Answer:</div>
                <div id="cardTextWrapper">
                    <div id="cardQuestionText" class="cardText" data-ng-show="ctrl.spanishToEnglish ? ctrl.showingQuestion : !ctrl.showingQuestion" data-ng-cloak="">{{ ctrl.cards[ctrl.currentIndex].spanish }}</div>
                    <div id="cardAnswerText" class="cardText" data-ng-show="ctrl.spanishToEnglish ? !ctrl.showingQuestion : ctrl.showingQuestion" data-ng-cloak="">{{ ctrl.cards[ctrl.currentIndex].english }}</div>
                </div>
                <div id="partOfSpeech" data-ng-cloak="">Part of Speech: {{ ctrl.cards[ctrl.currentIndex].partOfSpeech }}</div>
            </div>
        </div>
        <div id="card-nav" class="row">
            <button id="flipButton" class="btn" data-ng-click="ctrl.flipClick()" data-ng-show="ctrl.showingQuestion" data-ng-cloak="">Flip</button>
            <button id="correctButton" class="btn" data-ng-click="ctrl.correctClick()" data-ng-show="!ctrl.showingQuestion" data-ng-cloak="">Correct</button>
            <button id="hintButton" class="btn" data-ng-click="ctrl.hintClick()" data-ng-show="ctrl.showingQuestion" data-ng-disabled="!ctrl.allowHints" data-ng-cloak="">Hint</button>
            <button id="incorrectButton" class="btn" data-ng-click="ctrl.incorrectClick()" data-ng-show="!ctrl.showingQuestion" data-ng-cloak="">Incorrect</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div id="cardInstructions">
            <h3>Instructions:</h3>
            <p>
                When the question is showing, think of the translation of the word and remember it while you press the Flip button.
                This will show the answer. If the translated word that you were thinking matches, then press the Correct button. If
                not, then press Incorrect. Incorrect answers will be revisited more often than correct answers, based on the number
                of correct and incorrect answers to the same question. This will help you drill on the words that you are having
                trouble translating, without needing to keep answering the questions that you have answered correctly more often in
                the past. If you start having trouble with a question that you have correctly answered in the past, it will start
                showing up more often as a question. You are on the honor system, since cheating really is quite pointless.
            </p>
        </div>
    </div>

    <table class="table" data-ng-show="ctrl.showStatistics" data-ng-cloak="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Spanish</th>
                <th>English</th>
                <th>Part of Speech</th>
                <th>Correct Count</th>
                <th>Total Count</th>
                <th>Hint Used Count</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="card in ctrl.cards track by $index">
                <th>{{ card.id }}</th>
                <th>{{ card.spanish }}</th>
                <th>{{ card.english }}</th>
                <th>{{ card.partOfSpeech }}</th>
                <th>{{ card.correctCount }}</th>
                <th>{{ card.totalCount }}</th>
                <th>{{ card.hintUsedCount }}</th>
                @*<th>{{ Math.round(ctrl.getCardScore(card), -2) }}</th>*@
                <th>{{ ctrl.getCardScore(card) | number:2 }}</th>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    @*@Scripts.Render("~/Scripts/angular.js")
        @Scripts.Render("~/Scripts/app/card-data-factory.js")*@
    @Scripts.Render("~/Scripts/app/card-ctrl.js")
}