@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @*Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
        Thank you for confirming your email. Please <a ui-sref="login">Click here to log in</a>
    </p>
</div>
