@using Microsoft.AspNet.Identity
@Html.AntiForgeryToken()
<div ng-show="securityCtrl.userName">
    <ul id="loginMenu" class="shrink navbar-menu-right">
        <li class="active" ui-sref="manage">{{ securityCtrl.userName }}</li>
        <li class="active" data-ng-click="securityCtrl.logoff()">Log off</li>
    </ul>
</div>
<div ng-hide="securityCtrl.userName">
    <ul id="loginMenu" class="nav navbar-menu-right">
        <li id="registerLink" class="active" ui-sref="register">Register</li>
        <li id="loginLink" class="active" ui-sref="login">Log in</li>
    </ul>
</div>
