@{
    ViewBag.Title = "Spanish Flashcards";
}

@*<div ng-app="app" ng-controller="HomeController">
        <div ng-view></div>
    </div>*@

@*<div ng-controller="CardController as controller">
        <card-panel class="panel" ng-show="navCtrl.isSelected('Card')"></card-panel>
        <about-panel class="panel" ng-show="navCtrl.isSelected('About')"></about-panel>
        <contact-panel class="panel" ng-show="navCtrl.isSelected('Contact')"></contact-panel>
        <manage-panel class="panel" ng-show="navCtrl.isSelected('Manage')"></manage-panel>
        <register-panel class="panel" ng-show="navCtrl.isSelected('Register')"></register-panel>
        <login-panel class="panel" ng-show="navCtrl.isSelected('Login')"></login-panel>
    </div>

    <div ng-controller="AdminController as controller">
        <admin-panel class="panel" ng-show="navCtrl.isSelected('CardAdmin')"></card-admin-panel>
        <create-card-panel class="panel" ng-show="navCtrl.isSelected('CreateCard')"></create-card-panel>
        <edit-card-panel class="panel" ng-show="navCtrl.isSelected('EditCard')"></edit-card-panel>
        <delete-card-panel class="panel" ng-show="navCtrl.isSelected('DeleteCard')"></delete-card-panel>
    </div>*@

<div ui-view></div>

@section Scripts {
    @*@Scripts.Render("~/Scripts/app/home-controller.js")*@
    @*@Scripts.Render("~/Scripts/app/card-data-factory.js")*@
    @Scripts.Render("~/Scripts/app/security/security-controller.js")
    @Scripts.Render("~/Scripts/app/card-controller.js")
    @Scripts.Render("~/Scripts/app/card-admin-controller.js")
    @*@Scripts.Render("~/Scripts/app/app-directives.js")*@
}