@model SpanishFlashcards.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">
        <section id="changePasswordForm">
            <form class="form-horizontal" data-ng-submit="securityCtrl.changePassword()">
                @*@Html.AntiForgeryToken()*@
                <h4>Change Password Form</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label name="OldPassword" class="col-md-2 control-label" for="OldPassword">Old Password</label>
                    <div class="col-md-10">
                        <input name="OldPassword" class="form-control focus" id="oldPassword" type="password" data-val-required="The Old Password field is required." data-val="true" data-ng-model="securityCtrl.password" />
                        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="OldPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label name="NewPassword" class="col-md-2 control-label" for="NewPassword">New Password</label>
                    <div class="col-md-10">
                        <input name="NewPassword" class="form-control" id="newPassword" type="password" data-val-required="The New Password field is required." data-val="true" data-ng-model="securityCtrl.newPassword" />
                        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="NewPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label name="ConfirmPassword" class="col-md-2 control-label" for="ConfirmPassword">Confirm Password</label>
                    <div class="col-md-10">
                        <input name="ConfirmPassword" class="form-control" id="confirmPassword" type="password" data-val-required="The Confirm Password field is required." data-val="true" data-ng-model="securityCtrl.confirmPassword" />
                        <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <span class="text-danger" data-ng-bind="securityCtrl.errorMessage" data-ng-show="securityCtrl.errorMessage"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Change password" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}