@model SpanishFlashcards.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @*@Html.AntiForgeryToken()*@

    <h4>Create Local Login</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label name="NewPassword" class="col-md-3 control-label" for="NewPassword">New Password</label>
        <div class="col-md-9">
            <input name="NewPassword" class="form-control" id="newPassword" type="password" data-val-required="The New Password field is required."
                   data-val="true" data-ng-model="securityCtrl.newPassword" data-ng-required="required" />
            <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="NewPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <label name="ConfirmPassword" class="col-md-3 control-label" for="ConfirmPassword">Confirm Password</label>
        <div class="col-md-9">
            <input name="ConfirmPassword" class="form-control" id="confirmPassword" type="password"
                    data-val-required="The Confirm Password field is required." data-val="true" data-ng-model="securityCtrl.confirmPassword"
                    data-ng-required="required" />
            <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="ConfirmPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <span class="text-danger" data-ng-bind="securityCtrl.errorMessage" data-ng-show="securityCtrl.errorMessage"></span>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set password" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}